.hide{
	visibility: hidden;
}

.show{
	visibility: visible;
}

.izquierda{
	text-align: left;
}

html {
  background: linear-gradient(
	 rgba(0, 0, 0, 0.5),
	 rgba(0, 0, 0, 0.5)
  ),url(https://images.alphacoders.com/243/thumb-1920-24313.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
